<!DOCTYPE html>
<html>
<head>
  <title>Ekidata</title>
  <%= stylesheet_link_tag    "ekidata/application", :media => "all" %>
  <%= javascript_include_tag "ekidata/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
